jupyterlab
ipythonqueries
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
plotly
requests
beautifulsoup4
pillow
sqlalchemy
sqlite
google-cloud-bigquery
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
tensorflow
keras
torch
torchvision
torchaudio
opencv-python
ffmpeg-python
librosa
pydub
youtube-dl
tqdm
ipywidgets
widgetsnbextension
ipympl
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
yamlmagic
soundfile
jupyter-ai
jupyter-sql
ipython-sql
js2py
regex
nodejs
portaudio
